.git
.gitignore
.vscode
.github
node_modules
npm-debug.log
docker-compose*.yml
backup
apps
deploy
design
.env
.env.*
.env.example
.gitattributes
uploads
logs
test-results
.bootstrap.lock
*.md
tests
Plans
sonar-project.properties
scripts
tmp
.tmp
