.git
.gitignore
.vscode
.github
node_modules
npm-debug.log
docker-compose*.yml
backup
apps/*/node_modules
.env
.env.*
uploads
logs
test-results
.bootstrap.lock
*.md
tests
Plans
sonar-project.properties
Project_Dev_plan.md
Project_todos.md
scripts
tmp
.tmp
